
 <form method="GET" action="/logout">
   <button type="submit">Logout </button>
 </form>
  
  <div class="container" ng-controller="imageUploadController">
      <div class="row">
        <div class="col col-12 col-8 mx-auto ">
          <div class="jumbotron">
            <div class="my-4 d-flex justify-content-center">
              <h1 class="display-3">Hello, world!</h1>
            </div>
            <form>
              <div class="form-group">
                <div class="my-4 d-flex justify-content-center">
                  <button ngf-select="startUpload($files)" ng-model='ViewModel.photo' multiple accept="image/*" >Select Files</button>
                </div>
                <div class="my-4 d-flex justify-content-center">
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" ng-click='submit()' role="button">Upload</a>
                    
                    <button type="submit" ng-if="url" ng-click="csvSubmit(url);" class="btn btn-primary btn-lg"  role="button">Download</button>
                    <button type="submit" ng-if="!url" disabled="" class="btn btn-primary btn-lg"  role="button">Download</button>
                    
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> 
    </div>

