.login-box {
  background-color: #87b862;
}
.login-bg {
  /*background-color: #d0f6b3;*/
  background-image: url('../images/Green-Wallpaper-9.jpg');
}
.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-btn {
  background-color: #c1e543;
  font-size: 24px;
  border-radius: 3px;
}
.input_font {
    font-size: 20px;
    border-radius: 3px;
}
.white {
  color: white;
}
.custom-file-upload {
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #403f3f;
  color: white;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 0rem;
}
input[type="file"] {
    display: none;
}
.logout-btn {
  border: none;
}
.button_wd {
  width : 150px;
}

.loader{
  border: 3px solid black;
  border-radius: 50%;
  border-top: 3px solid white;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}